<div class="container">
    <h1>Show all employees</h1>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">Phone</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>  
  </thead>
  <tbody>
    {{#each list }}
    <tr class="table-active">
      <th scope="row">{{this.email}}</th>
      <td >{{this.name}}</td>
      <td >{{this.city}}</td>
      <td >{{this.phone}}</td>
      <td><a href="/deleteuser/{{this.email}}" class="btn btn-danger btn-block">Delete</a></td>
      
      <td ><a href="/edituser/{{this.email}}" class="btn btn-success btn-block">EDIT</a></td>
      
    </tr>
    {{/each}}
   
  </tbody>
</table>
</div>